.dispContainer {
  width: 100%;
  display: flex;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 10px;
}

.dispBox {
  max-width: 600px;
  border: 1px solid #111;
}

.dispBox img, .dispBox canvas {
  max-width: 100%;
}